h1 {
  color: white;
  text-align: center;
  font-size: 700px;
}
h2{
  color: white;
  font-style: oblique;
  text-align: center;
}
p{
  color: white;
  font-family: monospace;
}
strong {
  font-style: bold;
}
em {
  font-style: italic;
  font-color: red;
}
.Oscar {
  color: red;
  font-size: 12px
}
.aboutme {
  font-size: x-large;
  background-color:white;
  color: white;
  margin-bottom: 0%;
  padding-bottom: 20%;
}
 body{
   background-color: white;
 }
 img{
   height: 300px;
   width: 300px;
   float: none;
   align-content: center;
   justify-content: center;
   margin-left: 100px;
 }
 .hobbies{
   font-size: x-large;
   background-color: white;
   padding-right: 20%;
 }
 p {
   font-size: 16px;
   font-style: normal;
 }
